
{% for block in section.blocks %}
  {% case block.type %}
    {% when 'article_title' %}
      <h1>{{ article.title }}</h1>
    {% when 'article_author' %}
      {% if section.settings.enable_author_display %}
        <small>{{ article.author }}</small>
      {% endif %}
    {% when 'article_published_date' %}
      {% if section.settings.enable_date_display %}
        <time datetime="{{ article.published_at | date: '%Y-%m-%dT%H:%M:%S%z' }}">
          {{ article.published_at | date: '%B %d, %Y' }}
        </time>
      {% endif %}
    {% when 'article_featured_image' %}
      <img
        src="{{ article.image | img_url: 'large'}}"
        alt="{{article.image.alt}}"
      >
    {% when 'article_content' %}
      <div>{{ article.content }}</div>
  {% endcase %}
{% endfor %}

{% schema %}
{
  "name": "Template Article",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_author_display",
      "default": true,
      "label": "display author name"
    },
    {
      "type": "checkbox",
      "id": "enable_date_display",
      "default": true,
      "label": "display date"
    }
  ],
  "blocks": [
    {
      "type": "article_title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "article_author",
      "name": "Author",
      "limit": 1
    },
    {
      "type": "article_published_date",
      "name": "Published Date",
      "limit": 1
    },
    {
      "type": "article_featured_image",
      "name": "Thumbnail",
      "limit": 1
    },
    {
      "type": "article_content",
      "name": "Content",
      "limit": 1
    }
  ]
}
{% endschema %}
