<div class="px-4 py-8">
  {% paginate collection.products by 6 %}
    <h1 class="text-3xl text-center">{{ collection.title }}</h1>
    <div class="max-w-6xl mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {% for product in collection.products %}
          <div class="w-full py-6 px-3">
            <div class="border bg-white shadow-lg rounded-lg overflow-hidden">
              <a href="{{product.url}}">
                {% if product.featured_image %}
                  <img
                    src="{{product.featured_image | image_url: width: 400 }}"
                    alt="{{product.featured_image.alt}}"
                  >
                {% endif %}
              </a>

              <span>{{ product.vendor }}</span>
              <a href="{{product.url}}">{{ product.title }}</a>
              <p>{{ product.price | money }}</p>
            </div>
          </div>

        {% else %}
          <p>There are no products inside of this collection.</p>
        {% endfor %}
      </div>
    </div>
    {% for product in collection.products %}
      {% if product.featured_image %}
        <img
          src="{{product.featured_image | image_url: width: 400 }}"
          alt="{{product.featured_image.alt}}"
        >
      {% endif %}
      <span>{{ product.vendor }}</span>
      <a href="{{product.url}}">{{ product.title }}</a>
      <p>{{ product.price | money }}</p>
    {% else %}
      <p>There are no products inside of this collection.</p>
    {% endfor %}

    {% render 'paginate', pagination: paginate %}
  {% endpaginate %}
</div>
